<h1>Welcome</h1>
<p>Welcome to story books v 1.0.0</p>
<p>Post stories from the best and worst of yourlife and choose for them to be read by the word or completely private as
  yoir own personaly diary</p>
{{#if user}}
{{else}}
<a href="/auth/google" class="btn red darken-1"><i class="fab fa-google"></i>Login with Google account</a>
{{/if}}